<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-head text-center">
                    <h2>Test</h2>
                </div>
                <div class="card-body">
                    <p>A continuacion realizara el test, para ello deberas poseer al menos media hora libre.</p>
                    <p>Todos los datos almacenados son de uso privado y encriptados, nunca se utilizaran para manejo de datos.</p>
                    <a href="/test" class="btn btn-primary m-4">
                        Empezar Test
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>