<div class="continer p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Test</h3>
                </div>
                <div class="card-body">
                    <form action="/test" method="POST">
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 1</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option12').disabled=true"
                                            name="option1" id="option11" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option11').disabled=true"
                                            name="option1" id="option12" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 2</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option22').disabled=true"
                                            name="option2" id="option21" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option21').disabled=true"
                                            name="option2" id="option22" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 3</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option32').disabled=true"
                                            name="option3" id="option31" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option31').disabled=true"
                                            name="option3" id="option32" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 4</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option42').disabled=true"
                                            name="option4" id="option41" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option41').disabled=true"
                                            name="option4" id="option42" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 5</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option52').disabled=true"
                                            name="option5" id="option51" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option51').disabled=true"
                                            name="option5" id="option52" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 6</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option62').disabled=true"
                                            name="option6" id="option61" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option61').disabled=true"
                                            name="option6" id="option62" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 7</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option72').disabled=true"
                                            name="option7" id="option71" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option71').disabled=true"
                                            name="option7" id="option72" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 8</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option82').disabled=true"
                                            name="option8" id="option81" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option81').disabled=true"
                                            name="option8" id="option82" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 9</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option92').disabled=true"
                                            name="option9" id="option91" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option91').disabled=true"
                                            name="option9" id="option92" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                                <p class="center">Pregunta 10</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="btn-group" data-toggle="buttons">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" onclick="document.getElementById('option102').disabled=true"
                                            name="option10" id="option101" value="1" autocomplete="off"> Si
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" onclick="document.getElementById('option101').disabled=true"
                                            name="option10" id="option102" value="0" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <button class="btn btn-success btn-block " onclick="window.myDoughnut.update(">
                                Terminar
                            </button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>