<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-title">
                    <h1>Pago</h1>
                </div>
                <div class="card-body">
                    
                    <p>Selecciona el tipo de Pago que deseas realizar: </p>
                    <a href="/pago/debito" class="btn btn-primary m-4">
                        Tarjeta Debito
                    </a>
                    <a href="/pago/credito" class="btn btn-primary m-4">
                        Tarjeta Credito
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>