<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome {{user.nombreCompleto}}</h3>
                    <h4>{{user.correo}}</h4>
                    <p>Para poder realizar este Test primero debes realizar el pago, antes de que lo realices, te presentaremos el consentimiento informado el cual deberas leer para conocer todos los detalles del test.</p>
                    <p>Puedes realizar el pago siguiendo el boton de debajo o en la barra de navegacion seleccion donde dice Pago</p>
                    <a href="#" class="btn btn-primary m-4">
                        Realizar Pago
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>