<footer class="footer">
      <div class="container">
        <div class = "text-center se" style="color:white">Sebastian Rodriguez Velasquez - Gabriel Aguilar</div>
        <div class = "text-center se" style="color:white">Universidad Central</div>
        <div class = "text-center se" style="color:white">2020</div>
      </div>
    </footer>