<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Test de Actitud y Aptitud</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a href="#" class="nav-link">Pago </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Examen </a>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link">Perfil </a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Cerrar Sesion</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link"> Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link"> Registrase</a>
        </li>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>